<!--<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>-->
<!--<div>
      <h2>Job Application for Heroes</h2>
      <app-dynamic-form-quiz [quiz]="quiz"></app-dynamic-form-quiz>
    </div>

    
    <div>
      <app-quiz-banner [quizs]="quizs"></app-quiz-banner>
      </div>-->
<!-- <router-outlet></router-outlet> -->
<!--<app-messages></app-messages>-->

<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <app-alert></app-alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>